.bfw {
    font-size: 11px;
}

.bfw * {
    box-sizing: border-box;
}

.bfw .title {
    width: 220px;
    font-size: 1.1em;
    color: #888;
    text-transform: capitalize;
}

.bfw input.item-filter {
    display: block;
    width: 200px;
    margin-top: 5px;
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    font-weight: normal;
    background: #eee;
    border-radius: 0;
    margin-bottom: 0;
}

.bfw .item-list {
    overflow: auto;
    width: 200px;
    height: 185px;
    font-size: 1.5em;
    border: 1px solid #ccc;
}

.bfw .selected-items {
    height: 225px;
}

.bfw .item-list {
    font-size: 12px;
    margin-right: 20px;
}

.bfw .item-list .item {
    display: block;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.bfw .item-list .item.selected {
    display: none;
}

.bfw .item-list.available-items {
    margin-top: 5px;
    margin-bottom: 20px;
}

.bfw .item-list.available-items .item:active {
    background: #0b9912;
}

.bfw .item-list .glyphicon {
    float: right;
    font-size: .9em;
    line-height: 1.5em;
}

.bfw .items-wrap {
    float: left;
}

.grp-tbody .items-wrap {
    float: none;
}

.bfw .action-icon {
    float: right;
    border-radius: 30px;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}

.bfw .action-icon-plus {
    color: #0b9912;
}

.bfw .action-icon-minus {
    color: pink;
}

.bfw .item-list.selected-items {
    height: auto;
    overflow: visible;
}

.bfw .item-list.selected-items .item:active {
    background: pink;
    color: white;
}

.bf-toast {
    position: fixed;
    z-index: 10000;
    top: 5%;
    left: 45%;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #888;
    color: white;
    padding: 1em;
    border-radius: 3px;
    display: none;
}

